/*animaciones*/

@keyframes aparece-izquierda
{
    from { 
         transform: translateX(-500%); 
         opacity: 1;
            }
    to { 
         transform: translateX(900%); 
         opacity: 1;
            }
}

@keyframes aparece-desaparece
{
    from { 
         opacity: 0;
            }
    to { 
         opacity: .60;
            }
}

@keyframes mover-derecha
{
    from { 
         transform: translateX(0%); 
         opacity: 1;
            }
    to { 
         transform: translateX(500%); 
         opacity: 1;
            }
}

.outscreen{
	left:-1280px;
}

.inscreen{
	left:2000px !important;
	transition: left 5s;
}
 
.nubes:nth-child(1)
{
     animation: aparece-izquierda ease 22s infinite; 
}
.nubes:nth-child(2)
{
     animation: aparece-izquierda ease 25s infinite; 
}
.nubes:nth-child(3)
{
     animation: aparece-izquierda ease 17s infinite; 
}
.nubes:nth-child(4)
{
     animation: aparece-izquierda ease 23s infinite; 
}
.nubes:nth-child(5)
{
     animation: aparece-izquierda ease 12s infinite; 
}
.nubes:nth-child(6)
{
     animation: aparece-izquierda ease 18s infinite; 
}
.nubes:nth-child(7)
{
     animation: aparece-izquierda ease 15s infinite; 
}
.nubes:nth-child(8)
{
     animation: aparece-izquierda ease 15s infinite; 
}
.nubes:nth-child(9)
{
     animation: aparece-izquierda ease 12s infinite; 
}
.nubes:nth-child(10)
{
     animation: aparece-izquierda ease 17s infinite; 
}
.nubes:nth-child(11)
{
     animation: aparece-izquierda ease 19s infinite; 
}
.nubes:nth-child(12)
{
     animation: aparece-izquierda ease 10s infinite; 
}
.nubes:nth-child(13)
{
     animation: aparece-izquierda ease 16s infinite; 
}



.stars:nth-child(1){
    animation: aparece-desaparece ease 1.5s infinite;
}

.stars:nth-child(2){
    animation: aparece-desaparece ease 2.5s infinite;
}
.stars:nth-child(3){
    animation: aparece-desaparece ease 2s infinite;
}
.stars:nth-child(4){
    animation: aparece-desaparece ease 3.1s infinite;
}
.stars:nth-child(5){
    animation: aparece-desaparece ease 2s infinite;
}
.stars:nth-child(6){
    animation: aparece-desaparece ease 2.2s infinite;
}
.move-nubes{
	animation: mover-derecha ease 3s infinite;
}